/*  your css code here. If applicable */
body{
	background-color: rgb(204, 204, 204);
}
h1{
	text-align: center;
}
#song_list{
	list-style-type: none;
	border-width: 1px;
	border-style: solid;
	background-color: rgb(255, 255, 255);
	padding: border-radius;
}
a{
	text-decoration-line: none;
}

h2{
	text-align: center;
}
#audio_video{
	background-color: ;
	border-width: 1px;
	border-style: solid;
}
p{
	text-align: justify;
}
